*html{

	background-color: #F1948A;
}
.asterisco{
background-color: black;

}

}
.subguion{
	background-color: black;
}

.initiate{
  background-color: red;

}
.finish{
	background-color: blue;
}

.button{
	

}

td{
        width: 15px;
        height:  15px;
        border: 1px;
        padding: 10px;
}

#tablero {
	background-image: url(https://image.freepik.com/vector-gratis/colorido-laberinto-fondo-conjunto-de-vectores_293-780.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
    max-height: 100%;

   }